/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
	text-align: justify;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */

h1, h2, h3
{
	color: #afc0ba;
}

p.basdpg
{

	text-align: end;
	
}

.header1
{
	font-size: 5em;
	
	margin-top: 0%;
	margin-bottom: 10px;
	border-bottom: gray double;
}

img{
	
	border: #afc0ba solid 4px;
}

img:hover 
{
	border-color: black;
	cursor: pointer;
	transition: background-color 2s ease-out;
	-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}